@font-face {
  font-family: "outfitFont";
  src: url('Outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 400, 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "outfitFont";
  
}

.attribution { 
  text-align: center; 
}

#title {
  font-size: 1.188rem;
  color: hsl(218, 44%, 22%);
  font-weight: bold;
  margin: 10px 18px;
}

#subtitle {
  color: grey;
  font-size: 0.875rem;  
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 35px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  box-shadow: 10px 8px 24px rgba(149, 157, 165, 0.3);
  flex-wrap: wrap;
}

.container #pic1 {
  max-width: 233px;
  border-radius: 10px;
  margin: 13px 13px 0 13px;
}

@media only screen and (max-width: 375px) {
  .back {max-width: 350px;}
}

