@font-face {
  font-family: "outfitFont";
  src: url('Outfit/Outfit-VariableFont_wght.ttf');
}

/* Remove default margin and padding */
* {
  box-sizing: border-box;
}

body {
  font-family: "outfitFont";
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  max-width: 18rem;
  box-shadow: 10px 8px 24px rgba(149, 157, 165, 0.3);
  padding: 13px;
  margin: 50px auto;
}

.attribution { 
  text-align: center; 
}

#title {
  font-size: 1.188rem;
  color: hsl(218, 44%, 22%);
  font-weight: 800;
  padding: 0 10px 0 10px;
  margin-top: 18px;
}

#subtitle {
  color: hsl(220, 15%, 55%);
  font-size: 0.875rem;  
  font-weight: 300;
  padding: 0 10px 11px 10px;
  margin: 12px 2px;
}

#pic1 {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 89.938rem) {
  .container {margin: 135px auto;}
}

@media only screen and (max-width: 23.438rem) {
  .container {margin: 50px auto;}
}



